@font-face {
    font-family: 'black';
    src: url('../fonts/Roboto-Black.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bold';
    src: url('../fonts/Roboto-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'medium';
    src: url('../fonts/Roboto-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'regular';
    src: url('../fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

#head-search {
    width:90px;
    background: url(../img/icon-search.jpg) 98% center no-repeat;
    font-size:14px;
    padding-right:25px;
}
#head-search:focus{}

a,
a:active,
a:link,
a:visited,
li,
p,
span,
input {
    color: #939393;
    font-family: 'medium';
}
h1,
h2,
h3,
h4,
h5,
h6{
   font-family: 'black'; 
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 100
}



.ft-icon .menu-lg {
    margin-left: 25%
}

.menu li:nth-child(1){
    position:absolute;
    left: 0;
}
.menu li:nth-child(1) a{
    padding:40px 25px 40px 10px;
}
.menu li {
    padding: 0
}
.ft-menu li{
    float:left;
}
.ft-menu li a{
    padding: 15px 22.5px;
}
.ft-menu li a,
.menu li a {
    display: block;
    text-align: center;
    transition: color .3s;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -ms-transition: color .3s;
    -o-transition: color .3s
}
.menu li a{
    color:#474646;
    padding:40px;
}
.menu li .active{
    color:#55c893;
}
.ft-logo{
    padding-top:10px;
}
.ft-menu li a {
    text-align: left;
    padding: 10px 15px
}

.ft-menu li a:hover,
.menu li a:hover {
    color: #55c893;
    transition: color .3s;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -ms-transition: color .3s;
    -o-transition: color .3s
}

li .active {
    color: #55c893
}
.head-info-right{
    float:right;
}
.head-info-right div{
    float:Left;
}
.head-search {
    display: block
}

.head-search input {
    display: block;
    width: 80%;
    text-align: center;
    border: none;
    padding: 5px
}

.head-info {
    padding: 7px 0;
    border-bottom: 1px solid #939393;
    transition: padding .4s;
    -moz-transition: padding .4s;
    -webkit-transition: padding .4s;
    -o-transition: padding .4s;
    -ms-transition: padding .4s
}
.head-info .number{
    margin-right:55px;
}
.head-info .number p {
    padding:4px;
    vertical-align: middle
}
.head-info .lang-list{
    margin-right:70px;
}
.head-info .lang-list ul li {
    float: left
}

.head-info .lang-list ul li a {
    display: block;
    padding: 5px 10px;
    font-size: 14px
}

.slider {
    padding-top: 142px
}

.slider img {
    width: 100%
}

footer {
    height: 235px
}

.ft-box {
    padding-top: 50px;
    border-top:1px solid #939393;
}
.ft-icon{
    padding-top:10px;
    margin-right:80px;
}

.ft-number {

    padding-top:10px;
    text-align: right
}
.ft-number p{
    margin-bottom:10px;
}
.ft-number p span{
    padding-bottom:10px;
}
.ft-number p:nth-child(4){
    padding-top:10px;
}
.ft-number a{

}